# Python
**/__pycache__/
**/*.pyc
*.egg-info/

# Virtual Environment
env/
venv/

# Django
*.log
db.sqlite3
media/
static/

# Secrets
.env

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.json

# Node/React
node_modules/
build/
package-lock.json

# IDE (optionnel)
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db